{% if template.name == 'page' %}
{% assign hello_text = "Hello world!" %}

<p> {{ hello_text }}</p>
<p> {{ hello_text | upcase }}</p>
<p> {{ hello_text | replace: "world", "AHT" }}</p>

{% assign fruits = "apples,oranges,peaches,tomatoes" | split: "," %}

<p>{{ fruits | join: "-" }}</p>
<p>{{ fruits[1] }}</p>
<p>{{ fruits | sort | join: ", " }}</p>

<p>fruit with 7 keywords:</p>
<ul>
  {% for fruit in fruits %}
    {% if fruit.size == 7 %}
      <li>{{ fruit }}</li>
    {% endif %}
  {% endfor %}
</ul>

<p>fruit with "o":</p>
<ul>
  {% for fruit in fruits %}
    {% if fruit contains "o" %}
      <li>{{ fruit }}</li>
    {% endif %}
  {% endfor %}
</ul>

{% assign number = 4.3 %}

<p>{{ number | ceil }}</p>
<p>{{ number | floor }}</p>
<p>{{ number | times: 10 }}</p>
<p>{{ number | divided_by: 2 }}</p>


{% comment %}
  copy paste vào product page
{% endcomment %}
{% if product %}
  <hr>
  <h2>Products info:</h2>

  <p><strong>Tags:</strong>
    {% for tag in product.tags %}
      {{ tag }}{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </p>

  <p><strong>Description:</strong> {{ product.description | default: "Coming soon" }}</p>

  {% if product.tags contains "new" or product.tags contains "New" %}
    <p style="color: green;"><strong>New Product</strong></p>
  {% endif %}

  {% if product.compare_at_price > product.price %}
    {% assign sale_percent = product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | round %}
    <p style="color: red;"><strong>Sale {{ sale_percent }}%</strong></p>
  {% endif %}
{% endif %}
{% endif %}